@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 640px) and (min-width: 425px) {
  .small_text {
    font-size: 10px;
  }
  .midium_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 424px) {
  .small_text {
    font-size: 8px;
  }
  .midium_text {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) and (min-width: 640px) {
  .backgroundPosition {
    background-position-y: -100px;
  }
  .large-img {
    position: relative;
    width: 530px;
    left: 0px;
    top: 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
  .backgroundPosition {
    background-position-y: -120px;
  }
  .large-img {
    position: relative;
    width: 530px;
    left: 0px;
    top: 0px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .backgroundPosition {
    background-position-y: -230px;
  }
  .large-img {
    position: relative;
    width: 528px;
    left: 0px;
    top: -30px;
  }
}

@media screen and (max-width: 1535px) and (min-width: 1280px) {
  .backgroundPosition {
    background-position-y: -200px;
  }
  .large-img {
    position: absolute;
    width: 673px;
    left: 365px;
    top: -20px;
  }
}

@media screen and (min-width: 1536px) {
  .backgroundPosition {
    background-position-y: -350px;
  }
  .large-img {
    position: absolute;
    left: 300px;
    top: -90px;
    width: 850px;
  }
}

.image_as_underline {
  box-sizing: border-box;
  background-image: url("https://cdn.inito.com/inito_website/plain_underline.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.an-egg {
  display: inline-block;
  position: relative;
  margin-left: 16px;
}
.text-image {
  width: 200px;
  position: absolute;
  bottom: 20px;
}
.strike-through {
  width: 108px;
  height: 15px;
  margin-top: -24px;
}
