@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.large-img {
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-device-width: 425px) and (max-device-width: 640px) {
  .small_text {
    font-size: 10px;
  }
  .midium_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 424px) {
  .small_text {
    font-size: 8px;
  }
  .midium_text {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 640px) and (max-device-width: 768px) {
  .backgroundPosition {
    background-position-y: -100px;
  }
  .large-img {
    width: 530px;
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .backgroundPosition {
    background-position-y: -120px;
  }
  .large-img {
    width: 530px;
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-device-width: 1023px) and (max-device-width: 1279px) {
  .backgroundPosition {
    background-position-y: -230px;
  }
  .large-img {
    width: 528px;
    left: 0px;
    top: -30px;
  }
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1535px) {
  .backgroundPosition {
    background-position-y: -200px;
  }
  .large-img {
    position: absolute;
    width: 673px;
    left: 365px;
    top: -20px;
  }
}
@media screen and (min-device-width: 1536px) {
  .backgroundPosition {
    background-position-y: -520px;
  }
  .large-img {
    position: absolute;
    left: 300px;
    top: -90px;
    width: 850px;
  }
}
